html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
}

body {
    animation: backgroundAnimation 0.25s forwards;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
@keyframes backgroundAnimation {
    0%, 20% {
        background-image: url("https://raw.githubusercontent.com/Polocrafting367/WindowsBlurry-1/628fe7c4086f33a1a7288b900b61e29e6d3584d5/Cr%C3%A9ation%20themes/SVG/close.svg");
    }
    25%, 45% {
        background-image: url("https://raw.githubusercontent.com/Polocrafting367/WindowsBlurry-1/628fe7c4086f33a1a7288b900b61e29e6d3584d5/Cr%C3%A9ation%20themes/SVG/close-hover.svg");
    }
    50%, 70% {
        background-image: url("https://raw.githubusercontent.com/Polocrafting367/WindowsBlurry-1/628fe7c4086f33a1a7288b900b61e29e6d3584d5/Cr%C3%A9ation%20themes/SVG/close-active.svg");
    }
    75%, 100% {
        background-image: url("https://hdqwalls.com/wallpapers/windows-xp-bliss-4k-lu.jpg");
    }
}
.rectangle {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    /* Dégradé principal */
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    ),
    
    /* Dégradé blanc sur la partie droite */
    linear-gradient(        180deg,
        #2CA4D9 0%,
        #17AFEE 8%,
        #139CEA 40%,
        #1290E7 88%,
        #1889E5 93%,
        #1889E5 95%,
        #0D75D6 96%,
        #0064C0 100% );
    
    background-size: 85% 100%, 100% 100%;
    background-repeat: no-repeat;
}


.info {
    bottom: 60px;
    right: 60px;
    width: 350px;
    position: absolute;
    border-radius: 20px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    font-family: arial;
    font-size: 20px;
    color: white;
    padding: 20px;
}


#start-btn { /*start button*/
    height: 100%;
    float: left;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    font-style: italic;
    font-font: arial;
    background: radial-gradient(circle, #49B049 0%, #287728 100%) center/cover no-repeat;
    box-shadow: 0px 5px 10px #95C296 inset;
    padding: 2px 25px 6px 10px;
    text-shadow: 1px 1px 3px #222;
    border-radius: 0px 10px 10px 0px;
    margin-right: 16px;
    cursor: pointer;
    color: white;
}

#start-btn:hover { /*start button*/
    height: 100%;
    float: left;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    font-style: italic;
    font-font: arial;
    background: radial-gradient(circle, #4AC44A 0%, #329932 100%) center/cover no-repeat;
    box-shadow: 0px 5px 10px #8DCD8B inset;
    padding: 2px 25px 6px 10px;
    text-shadow: 1px 1px 3px #222;
    border-radius: 0px 10px 10px 0px;
    margin-right: 16px;
    cursor: pointer;
    color: white;
}
#start-btn:active { /*start button*/
    height: 100%;
    float: left;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    font-style: italic;
    font-font: arial;
    background: radial-gradient(circle, #396F39 0%, #1D951D 100%) center/cover no-repeat;
    box-shadow: 0px 5px 10px #396F39 inset;
    padding: 2px 25px 6px 10px;
    text-shadow: 1px 1px 3px #222;
    border-radius: 0px 10px 10px 0px;
    margin-right: 16px;
    cursor: pointer;
    color: white;
}

 button {
    font-family: var(--sans-serif);
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #003c74;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    border-radius: 3px;
 
                    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;

    
}
button:hover{box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;}

.button-image {
    filter: invert(100%); /* Inversion des couleurs uniquement pour l'image */
}


.buttonbb {

    -webkit-font-smoothing: antialiased;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(180deg, #4993E6 0%, #3475DB 8%, #488EF6 40%, #3980F4 88%, #2C62D4 93%, #2351BE 95%, #1D4DBE 96%, #1D4DBE 100%);
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3); /* Ombre noire à l'extérieur */
    color: white;
    &:not(:disabled) {
        &:hover,
        &.hover {
            box-shadow: none;
            background: linear-gradient(180deg, #4993E6 0%, #4993E6 2%, #4993E6 5%, #55A3FF 25%, #55A0FF 80%, #4593FF 95%, #1D45A4 96%, #1941A5 100%);

        }

        &:active {
            box-shadow: none;
            background: linear-gradient(180deg, #4993E6 0%, #246BD5 2%, #15449E 5%, #1950B8 25%, #1A50B8 80%, #174AB3 95%, #1142B4 96%, #1941A5 100%);

        }
    }

    &:focus,
    &.focused {
        box-shadow: none;
        background: linear-gradient(180deg, #4993E6 0%, #4993E6 2%, #4993E6 5%, #55A3FF 25%, #55A0FF 80%, #4593FF 95%, #1D45A4 96%, #1941A5 100%);

    }

    &::-moz-focus-inner {
        border: 0;
    }
}







.phone {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1000;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transform: translateX(-100px);
    background-color: rgba(255, 255, 255, 1);
}

#Donwload {
    position: absolute;
    bottom: 2px;
    left: 225px; /* Ajout du "px" après la valeur de la propriété left */
    z-index: 1000;
    height: 30px;
    padding: 0px;
    font-size: 18px;
    width: 250px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(50, 150, 255, 1);
    float: right;
    text-align: left; /* Ajout de cette ligne pour aligner le texte à gauche */
    padding-left:20px;
}

.button:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

.phone:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

#Donwload:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

#POWER:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

#guitt {
    position: absolute;
    bottom: 2px;
    left: 480px; /* Ajout du "px" après la valeur de la propriété left */
    z-index: 1000;
    height: 30px;
    padding: 0px;
    font-size: 18px;
    width: 250px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(50, 150, 255, 1);
    float: right;
    text-align: left; /* Ajout de cette ligne pour aligner le texte à gauche */
    padding-left:20px;
}



}
  #guitt:hover {

    background-color: rgba(200, 200, 200, 0.6);

  }

.yout {
    position: absolute;
    top: 75px;
    left: 100px;
    width: 700px;
    height: 525px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    z-index: 1;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
      will-change: transform;

  }


  .yout-header {


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
background-color: rgba(255, 255, 255, 1);
     cursor: move;


  }

  .yout-content {

    position: absolute;
    top: 30px;
    left: 0;
    width: 99.60%;
    height: calc(99.6% - 30px);


        border-bottom: 3px solid #0831d9;
    border-left: 3px solid #0831d9;
    border-right: 3px solid #001ea0;
  }

#window1 {
    position: absolute;
    top: 75px;
    left: 300px;
    width: 700px;
    height: 400px;



  }


  #TOPSTY {


    position: absolute;

    width: 99%;


    cursor: move;


    font-family: "Trebuchet MS";
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 96%,
        rgba(0, 61, 215, 1) 100%
    );
    padding: 3px 5px 3px 3px;
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    height: 23px;

  }

  .window-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    left: 0;
background-color: white; 

    width: 99.60%;
    height: calc(99.6% - 30px);


        border-bottom: 6px solid #0831d9;
    border-left: 3px solid #0831d9;
    border-right: 3px solid #001ea0;

  }

 .window2 {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 500px;
    height: 450px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;


  }


  .window2-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;

  }

  .window2-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    left: 0;
    width: 99.70%;
    height: calc(99.6% - 30px);
background-color: rgba(255, 255, 255, 1);

        border-bottom: 6px solid #0831d9;
    border-left: 3px solid #0831d9;
    border-right: 3px solid #001ea0;
  }
     

.windowsett {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 400px;
    height: 320px;


  }


  .windowsett-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .windowsett-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    left: 0;
    width: 99.60%;
    height: calc(99.6% - 30px);

    background-color:white;
        border-bottom: 3px solid #0831d9;
    border-left: 3px solid #0831d9;
    border-right: 3px solid #001ea0;
  }
     #titrefn {
position: absolute;
color:white;
font-size: 17px;
top:5px;
left:10px;
font-family: arial;
pointer-events: none;
}

#textt {
position: absolute;
color:white;
font-size: 17px;
top:25px;
left:5%;
font-family: arial;
pointer-events: none;
}

.bggene {
position: absolute;
top: 25px;
left: 50px;
width: calc(100vw / 2);
height: calc(100vh/1.7);
background-color: rgba(255, 255, 255, 0.0);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
z-index: 1;
border-radius: 10px;
will-change: transform;
}


  .bggene-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .bggene-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    background-color: white;
    width: 99.50%;
    height: 100%;


        border-bottom: 3px solid #0831d9;
    border-left: 3px solid #0831d9;
    border-right: 3px solid #001ea0;
  }
     


.window-selected {
z-index: 3;
}


   



.menu {
    background: linear-gradient(
        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 5%,
        rgba(0, 80, 238, 1) 6%,
        rgba(0, 102, 255, 1) 10%,
        rgba(0, 102, 255, 1) 15%,
        rgba(0, 91, 255, 1) 18%,
        rgba(0, 61, 215, 1) 19%,
        rgba(0, 61, 215, 1) 20%,
        rgba(255, 255, 255, 1) 15%,
        rgba(255, 255, 255, 1) 100%
    ),
    
    /* Dégradé blanc sur la partie droite */
    linear-gradient(  
      rgba(60, 161, 215, 1) 0%,
      rgba(60, 161, 215, 1) 1000%);
    
    background-size: 60% 100%, 100% 100%;
    background-repeat: no-repeat;

width: 450px;
height: 425px;
position: fixed;
transform: translate(-225px, -75px);
border-top-right-radius: 5px;
border-top-left-radius: 5px;

bottom: -39px;
left: 225px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
z-index: 800;
}

.top-bar input[type="text"] {
left: 30px;
top: 30px;
padding: 18px;
position: absolute;
color :white;
border: none;
border-radius: 10px;
background-color:rgba(0, 0, 0, 0.3);
width: 86%;
font-size : 17px;

}
.top-bar input::placeholder {
color: #CCC;
}

.bottom-bar {
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: linear-gradient(        180deg,
        rgba(9, 151, 255, 1) 0%,
        rgba(0, 83, 238, 1) 8%,
        rgba(0, 80, 238, 1) 40%,
        rgba(0, 102, 255, 1) 88%,
        rgba(0, 102, 255, 1) 93%,
        rgba(0, 91, 255, 1) 95%,
        rgba(0, 61, 215, 1) 100%); /* Remplacez les couleurs par celles de votre choix */
}


.profil img {
    position: absolute;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    border: 2px solid white; /* Ajout de la bordure blanche */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 350px;
}


.status-icon img {

width: 30px;
height: 30px;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
background-color: rgba(0, 0, 0, 0.5);
margin-right: 20px;
}




.close {
  top: 3px;
  left: 99.5%;
  width: 25px;
  height: 25px;
  transform: translatex(-100%);
  position: relative;
  border: none;
   
    font-size: 15px;
    font-style:bold;
    color:white;
box-shadow: none;
    background: url(https://raw.githubusercontent.com/Polocrafting367/WindowsBlurry-1/628fe7c4086f33a1a7288b900b61e29e6d3584d5/Cr%C3%A9ation%20themes/SVG/close.svg)
  }

.close:hover {
box-shadow: none;
 background: url(https://raw.githubusercontent.com/Polocrafting367/WindowsBlurry-1/628fe7c4086f33a1a7288b900b61e29e6d3584d5/Cr%C3%A9ation%20themes/SVG/close-hover.svg)
}
.close:active  {
box-shadow: none;
 background: url(https://raw.githubusercontent.com/Polocrafting367/WindowsBlurry-1/628fe7c4086f33a1a7288b900b61e29e6d3584d5/Cr%C3%A9ation%20themes/SVG/close-active.svg)
}


.line {
  position: absolute;
  top: 50%;
  left: 36%;
  width: 25%;
  height: 1px;
  background-color: white;
  transform: rotate(45deg);
  transform-origin: center;

}
.line:nth-child(2) {
  transform: rotate(-45deg);
}

#blurr {
position: absolute;
top: 25PX;
left: 30px;

height: 40px;
width: 86%;

}

#opp {

top: 75px;
left: 30px;

height: 40px;
width: 86%;

}



#changer-arriere-plan{
position: absolute;

top: 125px;
left: 30px;
width: 86%;


}

#button-color{
position: absolute;

top: 175px;
left: 30px;
width: 86%;

}

#dark{
position: absolute;


top: 225px;
left: 30px;
width: 42%;

}

#light{
position: absolute;

top: 225px;
left: 205px;
width: 42%;

}


.BTSY {
  position: absolute;
  padding: 10px;
left: 10px;
width: 55%;
border-radius: 15px;
    display: flex;
    align-items: center;
    font-family: var(--sans-serif);
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    color: #000; /* Set the text color to black */

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    border-radius: 3px;

    &:not(:disabled) {
        &:active,
        &.active {
            box-shadow: none;
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            );
        }

        &:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
        }
    }

    &:focus,
    &.focused {
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    .icon {
        margin-left: auto; // Push the icon to the right
        margin-right: 10px; // Add some spacing between text and icon
    }
}


 #newwind {

  top: 110px;

}


    #newwind2{
top: 160px;

}
      #newwind3{
        top: 210px;

}
#newwind4 {

top: 260px;

 
}

    #generate-btn{

top: 50px;
width: 95%;

}

#generate-btn:hover {
  background-color: rgba(20, 20, 200, 1);
          border-radius: 5px;
}
    #POWERbu{
background-color: rgba(0, 0, 0, 0);
border: none;
}





    #btn-rapide{
position: absolute;
padding: 10px;
background-color: rgba(50, 150, 255, 1);
color: white;
border: none;
border-radius: 5px;
top: 50%;
left: 30px;
width: 86%;
font-size: 18px;
}

#par{
position: absolute;
bottom: 60px;
left: 63%;
width: 34%;
font-size: 18px;
}
#btn-rapide:hover {
  background-color: rgba(255, 255, 255, 0.1);
          border-radius: 15px;
}

.content {
margin: 10px auto;
max-width: 600px;
padding: 10px;
color: white;
font-size: 20px;
}



#rech {
  display:none;
}

textarea {

border: none;
font-size: 20px;
height: 300px;
outline: none;
width: 100%;
background-color: rgba(255, 255, 255, 0.2);
color: white;
}


#fenet {
  position: absolute;
left: 125px;
bottom : 10px;
}
#ope {
background-color: rgba(255, 255, 255, 0.1);
bottom: 0;
width: 90px;
height: 34px;
display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
left:0;

}


input[type=button] {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
input[type=button]:hover {
background-color: rgba(100, 100, 100, 0.5);
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}



#heure, #date {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  right:20px;
  top:3px;
  color:white;
}
#date {
        position: absolute;

  top:30%;
}

#heure2, #date2 {
  font-size: 75px;
  font-weight: bold;
  margin: 0;
  position: absolute;
bottom:120px;
left: 60px;
  color:white;
}
#date2 {
        position: absolute;

  bottom:60px;
}

#video-container {
filter: none;
opacity: 1;
background-color: white;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}


    /* Définir le style des boutons */
#saveim {
  margin: 10px;
  padding: 10px;

  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}
    #videoUrl {

  position: absolute;
  top:34px;
  left:150px;
  width: 76%;

  background-color: white;
  color: black;

}
        #YOUBT {

  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  position: absolute;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  top:40px;
}

        .fullscreen-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

#slidingDiv {
z-index: 99999;
width: 100%;
height: 100%;
background-color: black;
position: absolute;
background-image: url("https://github.com/Polocrafting367/WindowsBlurry-1/blob/main/welcome-long.png?raw=true");
bottom: 0;
   
    background-size: cover;
    background-position: center;
overflow: hidden;
cursor: grab;
cursor: -webkit-grab;


}
.ombre {

    background-color: #f0f0f0;
    box-shadow: 0 0 160px rgba(0, 0, 0, 1); /* Ajoute une ombre avec un flou de 10px */
}

.image-animation {
position: absolute;
bottom: 30px;
left: 0;
right: 0;
margin: auto;
width: 100px;
height: 100px;
animation-name: monter-descendre;
animation-duration: 2s;
animation-iteration-count: infinite;


}

@keyframes monter-descendre {
0% {
transform: translateY(0);
}
50% {
transform: translateY(-50px);
}
100% {
transform: translateY(0);
}
}
