body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #D30574, #A72583);
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Style du tableau avec cadrillage */
table {
    width: 100%;
    border-collapse: collapse; /* Assure que les bordures ne se chevauchent pas */
}

th, td {
    border: 1px solid #000; /* Bordure noire pour les cellules */
    padding: 8px;
    text-align: left; /* Alignement à gauche */
}

th {
    cursor: pointer; /* Afficher le pointeur pour indiquer que c'est cliquable */
    background-color: #f2f2f2; /* Couleur de fond pour l'en-tête */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond alternée pour les lignes */
}
        button {
            padding: 5px 10px;
            background-color: red;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: darkred;
        }

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.btn-back {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.btn-back:hover {
    background-color: #0056b3;
}

.filter-options {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li a {
    text-decoration: none;
    color: #007bff;
}

li a:hover {
    text-decoration: underline;
}
