.tab {
    display: flex;

}
.tab-button {
    padding: 10px;
    flex: 1;
    text-align: center;

}
.place-card {
    position: relative;
}
.pastille {display: block !important;
}
button {
    display: block !important; /* Utilisez !important pour s'assurer que cette règle prévaut sur d'autres règles */
}
